/*Aqui é aonde estará alocado todas as variaveis desta folha de estilo*/
:root {
    --background-color__blue: rgb(0,148,255);
    --background-color__body: rgb(8, 2, 29);
    --background-color__body-after: #0f033b; 
    --background-color__header: #08021d;
    --background-color__header-image: black;
    --foreground-color__header-fonts: rgb(192,192,192);
    --foreground-color__default-fonts: #f2f2f2;
    --foreground-color__default-white: #e2e2e2;

    --header-height: 10rem;
    --border-radius__px: 20px;
    --font-size__header: 1.5rem;
    --font-size__h1: 5rem;
    --font-size__h2: 4rem;
    --font-size__h3: 3rem;
    --font-size__p: 2.5rem;
    --margin__default: 10rem;
}

/*setando o font-size do html para melhor codificação do uso de unidade de medidas. */
html {
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--foreground-color__default-white);
}

/* config do background e do body em geral */
body {
    background-color: var(--background-color__body);
    background-image: url(../../resources/images/background-body.png);
    background-attachment: fixed;
    background-size: auto;
}

/*formatação dos titulos e paragrafos */
h1,h2,h3,p,a {
    font-weight: normal;
    color: var(--foreground-color__default-white);
}
h1 {font-size: var(--font-size__h1);}
h2 {font-size: var(--font-size__h2);}
h3 {font-size: var(--font-size__h3);}
p {font-size: var(--font-size__p);}

/* formatação do header */

#whatsapp_button {
    position: fixed;
    width: 4.5vw;
    right: 0;
    bottom: 0;
    margin: calc(var(--margin__default)/2.5);
    z-index: 1;
}

#whatsapp_button img {
    width: 100%;
}

#whatsapp_button:hover img {
    width: 105%;
}

#header-container {
    position: fixed;
    top: 0;
    background: var(--background-color__header);
    width: 100%;
    height: var(--header-height);
    z-index: 1;
}

#header-container nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

#header-container .__btn-home {
    height: var(--header-height);
    width: calc(var(--header-height)*2);
    display: flex;
}

#header-container .__btn-home img {
    height: 100%;
    width: 100%;
}

#header-container .__btn-home:hover img {
    height: 101%;
    width: 101%;
}

#header-container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    height: 80%;
    padding: 0 2rem 0;
    border-radius: var(--border-radius__px);
    gap: calc(var(--font-size__header)*2);
    transition: background-color .5s linear;
}

#header-container li img {
    width: var(--font-size__header);
    height: var(--font-size__header);
}

#header-container li a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(var(--font-size__header)/4);
    text-decoration: none;
    font-size: var(--font-size__header);
    font-weight: bold;
    color: var(--foreground-color__header-fonts);
    text-transform: uppercase;
    letter-spacing: .25rem;
    padding: calc(var(--font-size__header)*1.25);
    border-radius: var(--border-radius__px);
}

#header-container li a:hover {
    background-color: var(--background-color__blue);
    color: var(--foreground-color__default-fonts);
    transition: all .2s linear;
}

.header-container__nav-scrolled ul {
    background-color: var(--background-color__body-after);
}

/* formatação do conteúdo main */
#main-container {
    width: 100%;
    text-align: center;
    margin-top: var(--header-height);
    background-color: var(--background-color__header-image);
}

#main-container #__image-header {
    width: 80%;
}

#main-container .__div-main-container {
    margin: auto;
    right: 0;
    left: 0;
    top: 30rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-image: url(../../resources/images/image-header.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.main-container__h1 {
    transition: all .5s linear;
    font-size: var(--font-size__h1);
    padding: 5rem;
    width: 50rem;
    text-align: left;
    text-shadow: .2rem .2rem .2rem black;
    line-height: 5.5rem;
    font-weight: normal;
}

.main-container__h1-div {
    display: flex;
    justify-content: left;
    align-items: center;
    border-left: .5rem solid var(--background-color__blue);
    height: 40rem;
    overflow: auto;
}

#main-container .__div-main-container a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: var(--font-size__p);
    width: fit-content;
    padding: var(--font-size__p);
    border-radius: var(--border-radius__px);
    border: .2rem solid var(--background-color__blue);
    margin-top: calc(var(--margin__default)/2.5);
}

#main-container .__div-main-container a:hover {
    background-color: var(--background-color__blue);
    transition: all .2s linear;
}

.main-container__h1_effect {
    background-color: rgba(0, 0, 0, .2);
}

main h1,h2,h3,p,a {
    text-align: center;
}

.title-section {
    width: fit-content;
    height: fit-content;
    border-left: .5rem solid var(--background-color__blue);  
    padding: 1.5rem 1rem 1.5rem 1rem;
    margin-bottom: 1rem;
    text-transform: capitalize;
    margin: auto;
    right: 0;
    left: 0;
    margin-top: calc(var(--margin__default)*2);
}

span {
    font-weight: bold;
    text-decoration-line: underline;
}

.title-section-right__border {
    border: none;
    border-right: .5rem solid var(--background-color__blue);   
}


/* formatação das sections dos serviços*/
#section-services {
    margin: auto;
    right: 0;
    left: 0;
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 5rem;
}

#section-services img {
    width: 30rem;
    height: 30rem;
}

#section-services article {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 30%;
    height: 71rem;
    flex-direction: column;
    padding: 2rem;
    flex-shrink: 1;
    border-radius: var(--border-radius__px);
    transition: all .25s linear;
}

#section-services article:hover {
    background-color: rgba(0,148,255,.2);
}

#section-services article p {
    text-align: left;
    line-height: 4rem;
    margin: 0;
    width: 100%;
}

#section-services article h2 {
    width: 100%;
    text-align: left;
    padding-bottom: 1rem;
    text-transform: capitalize;
    border-bottom: .1rem solid var(--background-color__blue);
}

.article-about {
    margin: auto;
    right: 0;
    left: 0;
    width: 80%;
}

.pFooter {
    font-size: calc(var(--font-size__p)/1.5);
}

/* formatação da tela para todos os dispositivos */
@media screen and (max-width: 1280px) {
    :root {
        --header-height: 8rem;
        --border-radius__px: 10px;
        --font-size__header: 1rem;
        --font-size__h1: 3.75rem;
        --font-size__h2: 3rem;
        --font-size__h3: 2rem;
        --font-size__p: 1.75rem;
        --margin__default: 8rem;
    }

    #section-services img {
        width: 20rem;
        height: 20rem;
    }
}

@media screen and (max-width: 1000px) {

    #section-services article {
        width: 80%;
        height: 65rem;
    }

    #whatsapp_button {
        width: 12vw;
    }

}

@media screen and (max-width: 500px) {

    :root {
        --header-height: 8rem;
        --border-radius__px: 8px;
        --font-size__header: .8rem;
        --font-size__h1: 3.5rem;
        --font-size__h2: 2.5rem;
        --font-size__h3: 1.75rem;
        --font-size__p: 1.5rem;
        --margin__default: 8rem;
    }

    #section-services article {
        width: 80%;
        height: 60rem;
    }

    #section-services {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0;
    }
}

@media screen and (max-width: 400px) {

    :root {
        --font-size__h1: 2.75rem;
        --font-size__h2: 2rem;
        --font-size__h3: 1.75rem;
        --font-size__p: 1.5rem;
    }

    #section-services article {
        width: 80%;
        height: 55rem;
    }

}